<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="c4790d1d-7e2d-40f4-b4aa-36dbf42ea866"
            Publisher="CN=srinivasan"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>GraphPlotting</DisplayName>
    <PublisherDisplayName>srinivasan</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="GraphPlotting.App">
        <VisualElements
            DisplayName="GraphPlotting"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="GraphPlotting"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>